<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="center">RESULT</h1>
    {% for dict_item in list1 %}
    {% for key,value in dict_item.items() %}
    {% if key != 'ans' %}
	<img src={{value}} class="img-fluid" alt="...">
    
    {% else %}
    <div class="alert alert-warning">
        Tumor status:{{value}}
    </div>
    
    {% endif %}
    {% endfor %}
    {% endfor %}
</body>
</html>